html, body {height: 100%;}

body {
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #4F4F4F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	color: #322F2A;
}

p, ol, ul {
	margin-top: 0px;
}

ol, ul {
	margin: 0px;
	padding: 0px;
	list-style:  none
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #0074C6;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

ul.style1 {
}

ul.style1 li {
	padding: 1.50em 0em 1.90em 0em;
	border-top: 1px solid #e8e8e8;
}

ul.style1 a {
	text-decoration: none;
	color: #6e6d6d;
}

ul.style1 a:hover
{
	text-decoration: underline;
}

ul.style1 .posted
{
	font-size: 0.90em;
	color: #b6b6b6;
}

ul.style1 .first
{
	padding-top: 0em;
	border-top: none;
}

/** WRAPPER */

#wrapper
{
	background: #FFFFFF;
}

.container
{
	width: 1000px;
	margin: -28px auto;
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	height: 90px;
	background: #0f8fbb;
}

#header
{
	overflow: hidden;
}

/** LOGO */

#logo
{
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.50em;
}

/** MENU */

#menu
{
	padding: 40px 0px 0px 0px;
	height: 99px;
}

#menu ul
{
	float: right;
	margin: -1px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	font-size: 14px;
}

#menu li
{
	float: left;
	padding: 2em 2em 2em 1em;
}

#menu a
{
	display: block;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.10em;
	color: #0d4658;

}

#menu a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}

#menu .active a
{
	color: #FFFFFF;
}

#menu .first
{
	padding-left: 0px;
	border-left: none;
	box-shadow: none;
}

/* Footer */

.footer-distributed{
	background-color: #0d4658;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	position: relative;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h1{
	color:  #ffffff;
	font: normal 36px , cursive;
	margin: 0;
}

.footer-distributed h1 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
